.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.div{
  position: absolute;
  top: 50px;
  left: 50px; 
  width: 100px;
  height: 100px;
  background: rgba(30,50,80,1);
  border-radius: 50% 50%;
}
/* div {
  position: absolute;
  border-radius: 50% 50%;
} */

*{
  background-color:beige;
}

.array-container {
  margin: 90px 0px 0px 0px;
  position: absolute;
  left: 100px;
}

.array-bar {
  width: 10px;
  background-color:rgb(244, 184, 73);
  display:inline-block;
  margin: 0 1.5px;
}

.button-a {
  border-radius: 4px;
  height:40px;
  margin: 30px 20px 0px 0px;
  background-color: rgb(170, 114, 210);
  color:white;
  font-size: 20px;
  border: 0px;
}


.button-b {
  border-radius: 4px;
  margin: 50px 20px 0px 0px;
  background-color: rgb(205, 143, 153);
  color:white;
  font-size: 20px;
  border: 0px;
  height:35px;

}

.button-c {
  border-radius: 4px;
  margin: 50px 20px 0px 0px;
  background-color: rgb(111, 167, 111);
  color:white;
  font-size: 20px;
  border: 0px;
  height:35px;

}
.button-d {
  border-radius: 4px;
  margin: 50px 20px 0px 0px;
  background-color:rgb(121, 156, 210);
  color:white;
  font-size: 20px;
  border: 0px;
  height:35px;

}
.button-e {
  border-radius: 4px;
  margin: 50px 20px 0px 0px;
  background-color:#d78a6b;
  color:white;
  font-size: 20px;
  border: 0px;
  height:35px;

}
.button-f {
  border-radius: 4px;
  margin: 50px 20px 0px 0px;
  background-color:#AACFCF;
  color:white;
  font-size: 20px;
  border: 0px;
  height:35px;

}

.button-g {
  border-radius: 4px;
  margin: 50px 20px 0px 0px;
  background-color:#cdb30c;
  color:white;
  font-size: 20px;
  border: 0px;
  height:35px;

}

.button-h {
  border-radius: 4px;
  height:40px;
  margin: 30px 20px 0px 0px;
  background-color: #4F8A8B;
  color:white;
  font-size: 20px;
  border: 0px;
}

.button-i {
  border-radius: 4px;
  height:40px;
  width:200px;
  margin: 30px 20px 0px 0px;
  background-color:#B6EB7A;
  color:white;
  font-size: 20px;
  border: 0px;
}

.button-j {
  border-radius: 4px;
  height:40px;
  margin: 30px 20px 0px 0px;
  background-color:#900c3f;
  color:white;
  font-size: 20px;
  border: 0px;
}
.button-k {
  border-radius: 4px;
  height:40px;
  margin: 30px 20px 0px 0px;
  background-color:#900c3f;
  color:white;
  font-size: 20px;
  border: 0px;
}

.button-dot {
  border-radius: 4px;
  height:40px;
  margin: 30px 20px 0px 0px;
  background-color:rgb(28, 84, 103);
  color:white;
  font-size: 20px;
  border: 0px;
}